{% extends 'blogPostBase.html' %}

{% block main %}

<h1 id="header1">Blogging Project</h1>

<hr>
<hr>
<hr>

<h1 id="header1">Add New Blog Post</h1>
<form action="/blogPost/post/get" method="POST">
    <label>blogPostContent</label><input type="text" name="blogPostContent" id="blogPostContent"><br><br><br>
    <label>blogPostAuthor</label><input type="text" name="blogPostAuthor" id="blogPostAuthor"><br><br><br>
    <input type="submit" name="addBlogPost" id="addBlogPost" value="add Blog Post" class="btn btn-success"><br><br><br>
</form>

<hr>
<hr>

<h1 id="header1">All Blogging Posts Details</h1>

{% for BlogPosts in BlogPosts %}
<h5 id="header5">blogPostId : {{BlogPosts.blogPostId}} </h5>
<h5 id="header5">blogPostContent : {{BlogPosts.blogPostContent}} </h5>
<h5 id="header5">blogPostAuthor : {{BlogPosts.blogPostAuthor}} </h5>
<h5 id="header5">blogPostPublished : {{BlogPosts.blogPostPublished}} </h5>
<h5 id="header5"><a href="/delete/{{BlogPosts.blogPostId}}/" class="btn btn-danger">Delete Blog Post</a>
<a href="/edit/{{BlogPosts.blogPostId}}/" class="btn btn-warning">Edit Blog Post</a></h5>
<h5></h5>

{% endfor %}

{% endblock main %}